{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | CameroonTechJobs Admin{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'images/ctj-mark.svg' %}" alt="CTJ" style="height: 32px; vertical-align: middle; margin-right: 10px;">
        CameroonTechJobs Administration
    </a>
</h1>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/admin_custom.css' %}">
{% endblock %}

{% block nav-global %}{% endblock %}